@import './variables';

* {
    box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

/*
    We're going to be using REM units: to make things easier we're going to normalise
    to 10px.
    
    10 = 62.5% of 16, 16px being the standard default font size in browsers.
*/
html {
    font-size: 62.5%;
    -ms-overflow-style: scrollbar;
}

body {
    background: background-color(body);
    color: color(text);
    font-family: font-family();
    font-size: font-size();
    line-height: 1.5em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

a,
a:visited {
    color: color(link);
    text-decoration: underline;
}

a:active,
a:hover {
    color: color(link, dark);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

*[hidden] {
    display: none;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
